 
body, html {
  font-family: "Lato", sans-serif;
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("tree2.jpg");

  /* Full height */
  height: 24%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
  /* The image used */
  background-image: url("forestlight.png");

  /* Full height */
  height: 76%;  

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* change to width of the sidenav if enabled */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 20px 20px;
  color: #222222;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}